body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

h3 {
    margin: 0;
    font-size: 24px;
}

p {
    padding: 0;
    margin: 8px 0;
}

ul {
    list-style: none;
    margin: 0;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 0;
    text-decoration: none;
    color: #e5e7eb;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: #3882f6;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

.nav{
    width: 100%;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    padding: 16px;

}

.logoLink {
    padding-left: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

#logo {
    width: 32px;
    height: 32px;
}

.logoText {
    color: #f9faf8;
}

.navLinks {
    padding-right: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.hero {
    width: 100%;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 16px;
}

.leftSide {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.heroImg {
    width: 360px;
    flex: 0 1 auto;
}

.featured {
    text-align: center;
    margin-bottom: 48px;
}

.imageCards {
    display: flex;
    align-items: center;
    gap: 32px;
}

.card img {
    flex: 0 1 auto;
    max-width: 160px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.description {
    color: #1f2937;
}

.pullQuote {
    width: 100%;
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 48px 0;
    display: flex;
    justify-content: center;
}

.quotes {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pullQuote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    align-self: flex-start;
}

.pullQuote h3 {
    align-self: flex-end;
    display: list-item;
    list-style-type: "- ";
}

.clickHere {
    width: 50%;
    max-width: 700px;
    margin: 48px 0;
    padding: 32px 64px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.clickHere button {
    border: 2px solid #e5e7eb;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer {
    width: 100%;
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 16px 0;
}